* {
	box-sizing: border-box;
	font-family: codeFont;
}

.header {
	position:absolute;
	left: 0px;
	top:0px;
	height: 100px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	border-bottom: 1px solid black;
}

.menu {
	position:absolute;
	left: 0px;
	top:100px;
	bottom: 50px;
	width: 200px;;
	overflow: hidden;
	border-right: 1px solid black;
}

.submenu {
	margin-top: 20px;
}

.main {
	position:absolute;
	top: 120px;
	left: 220px;
	right: 0px;
	bottom: 50px;
	overflow-y: auto;
	overflow-x: hidden;
}

.footer {
	color: #7f8c8d;
	text-align: center;
	border-top: 1px solid #999D9E;
	position: fixed;
	left: 0;
	bottom: 0px;
	right: 0;
	height: 50px;
}
