<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mxnavi.yongcheyi.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.mxnavi.yongcheyi.model.resp.Article" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="thumb_media_id" property="thumbMediaId" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="digest" property="digest" jdbcType="VARCHAR" />
    <result column="show_cover_pic" property="showCoverPic" jdbcType="TINYINT" />
    <result column="content_source_url" property="contentSourceUrl" jdbcType="VARCHAR" />
    <result column="soft_delete_flag" property="softDeleteFlag" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mxnavi.yongcheyi.model.resp.Article" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, thumb_media_id, author, digest, show_cover_pic, content_source_url, soft_delete_flag, 
    create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mxnavi.yongcheyi.model.resp.Article" >
    insert into article (id, title, thumb_media_id, 
      author, digest, show_cover_pic, 
      content_source_url, soft_delete_flag, create_time, 
      update_time, content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{thumbMediaId,jdbcType=INTEGER}, 
      #{author,jdbcType=VARCHAR}, #{digest,jdbcType=VARCHAR}, #{showCoverPic,jdbcType=TINYINT}, 
      #{contentSourceUrl,jdbcType=VARCHAR}, #{softDeleteFlag,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mxnavi.yongcheyi.model.resp.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="thumbMediaId != null" >
        thumb_media_id,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="digest != null" >
        digest,
      </if>
      <if test="showCoverPic != null" >
        show_cover_pic,
      </if>
      <if test="contentSourceUrl != null" >
        content_source_url,
      </if>
      <if test="softDeleteFlag != null" >
        soft_delete_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="thumbMediaId != null" >
        #{thumbMediaId,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="digest != null" >
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="showCoverPic != null" >
        #{showCoverPic,jdbcType=TINYINT},
      </if>
      <if test="contentSourceUrl != null" >
        #{contentSourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="softDeleteFlag != null" >
        #{softDeleteFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mxnavi.yongcheyi.model.resp.Article" >
    update article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="thumbMediaId != null" >
        thumb_media_id = #{thumbMediaId,jdbcType=INTEGER},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="digest != null" >
        digest = #{digest,jdbcType=VARCHAR},
      </if>
      <if test="showCoverPic != null" >
        show_cover_pic = #{showCoverPic,jdbcType=TINYINT},
      </if>
      <if test="contentSourceUrl != null" >
        content_source_url = #{contentSourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="softDeleteFlag != null" >
        soft_delete_flag = #{softDeleteFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mxnavi.yongcheyi.model.resp.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      thumb_media_id = #{thumbMediaId,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      digest = #{digest,jdbcType=VARCHAR},
      show_cover_pic = #{showCoverPic,jdbcType=TINYINT},
      content_source_url = #{contentSourceUrl,jdbcType=VARCHAR},
      soft_delete_flag = #{softDeleteFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mxnavi.yongcheyi.model.resp.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      thumb_media_id = #{thumbMediaId,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      digest = #{digest,jdbcType=VARCHAR},
      show_cover_pic = #{showCoverPic,jdbcType=TINYINT},
      content_source_url = #{contentSourceUrl,jdbcType=VARCHAR},
      soft_delete_flag = #{softDeleteFlag,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>